<?xml version="1.0"?>
<CreditConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PayCreditName>支付积分</PayCreditName>
  <PayCreditPrice>1</PayCreditPrice>
  <DayMaxSendPayCredits>0</DayMaxSendPayCredits>
  <OrderMaxUsePayCredits>2000000</OrderMaxUsePayCredits>
  <RegisterPayCredits>0</RegisterPayCredits>
  <LoginPayCredits>0</LoginPayCredits>
  <VerifyEmailPayCredits>0</VerifyEmailPayCredits>
  <VerifyMobilePayCredits>0</VerifyMobilePayCredits>
  <CompleteUserInfoPayCredits>0</CompleteUserInfoPayCredits>
  <CompleteOrderPayCredits>0</CompleteOrderPayCredits>
  <ReviewProductPayCredits>0</ReviewProductPayCredits>
  <RankCreditName>消费积分</RankCreditName>
  <DayMaxSendRankCredits>0</DayMaxSendRankCredits>
  <RegisterRankCredits>0</RegisterRankCredits>
  <LoginRankCredits>0</LoginRankCredits>
  <VerifyEmailRankCredits>0</VerifyEmailRankCredits>
  <VerifyMobileRankCredits>0</VerifyMobileRankCredits>
  <CompleteUserInfoRankCredits>0</CompleteUserInfoRankCredits>
  <CompleteOrderRankCredits>100</CompleteOrderRankCredits>
  <ReviewProductRankCredits>0</ReviewProductRankCredits>
</CreditConfigInfo>