<?xml version="1.0" encoding="utf-8"?>
<RDBSConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--<RDBSConnectString>Data Source=114.55.4.201;User ID=sasa;Password=hs12345-;Initial Catalog=halfox;Pooling=true</RDBSConnectString>-->
  <RDBSConnectString>Data Source=rds506vsjzr806kox7lm.sqlserver.rds.aliyuncs.com,3453;Initial Catalog=halfox20160413;User Id=sawd;PassWord=Husuai789</RDBSConnectString>
  <RDBSTablePre>ha_</RDBSTablePre>
  <RDBSType>SqlServer</RDBSType>
</RDBSConfigInfo>