<?xml version="1.0" encoding="utf-8"?>
<SMSConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Url>http://api.sms.cn/mt/</Url>
  <UserName>husuai</UserName>
  <Password>9010c91b5b217677e2b55eec3f5f389d</Password>
  <FindPwdBody>{mallname}找回密码校验码{code}【尚格云品】</FindPwdBody>
  <SCVerifyBody>{mallname}安全中心验证校验码{code}【尚格云品】</SCVerifyBody>
  <SCUpdateBody>{mallname}安全中心更新手机校验码{code}</SCUpdateBody>
  <WebcomeBody>欢迎注册{mallname}{regtime}{mobile}</WebcomeBody>
</SMSConfigInfo>